.content-wrapper {
  margin-top: -20px;

  .b-call {
    background: image-url('bg/bg-call.jpg');
    @include background-size(cover);
    position: relative;
    border-bottom: 4px solid #413b2f;
    @include border-radius(5px);
    text-align: left;
    padding: 30px 25px;

    h3 {
      font-size: 28px;
      color: #fff;
      font-family: $bold;
      text-transform: uppercase;
      margin: 0;
    }

    .img {
      position: absolute;
      right: 20px;
      bottom: -5px;
    }

    p {
      font-size: 22px;
      color: #fff;
      font-family: $bold;
      vertical-align: middle;
      display: inline-block;
      margin-right: 20px;
    }

    .btn-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
  }

  h2 {
    color: #4f4f4f;
    font-size: 28px;
    font-family: $bold;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding-bottom: 15px;

    &:before {
      @include pseudo-block($bottom: 0, $left: 50%);
      @include transform(translateX(-50%));
      width: 296px;
      height: 1px;
      background-color: #008caa;
    }
  }

  .section-top {
    text-align: center;
    background: image-url('bg/section-top.jpg');
    padding: 60px 0 40px;
    @include background-size(cover);

    h2 {
      color: #f9f9f9;
      font-size: 28px;
      line-height: 35px;
      text-transform: uppercase;
      font-family: $bold;
      padding: 0;
      margin-bottom: 300px;

      &:before {
        display: none;
      }
    }
  }

  .section-pillow {
    text-align: center;
    padding: 90px 0 70px;

    h2 {
      margin: 0 0 80px;
    }

    .item {
      display: inline-block;
      width: 470px;
      vertical-align: top;
      margin-bottom: 30px;
      margin-right: 25px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      .img {
        margin-bottom: 35px;
      }

      h4 {
        font-size: 18px;
        font-family: $bold;
        text-transform: uppercase;
        margin: 0 0 15px;
      }

      p {
        margin: 0;
      }
    }
  }

  .section-choose {
    padding: 80px 0 60px;
    background: image-url('bg/bg-2.jpg');
    @include background-size(cover);
    text-align: center;

    h2 {
      margin-bottom: 45px;
    }
  }

  .section-info {
    padding: 75px 0 70px;
    text-align: center;
    background: #f9f9f9;

    h2 {
      margin-bottom: 60px;
    }

    .items {
      margin-bottom: 80px;
    }

    .item {
      display: inline-block;
      vertical-align: top;
      width: 225px;
      margin-right: 50px;
      margin-bottom: 40px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .img {
        @include border-radius(50%);
        overflow: hidden;
        display: inline-block;

        img {
          display: block;
        }
      }
    }
  }

  .section-reason {
    background: image-url('bg/bg-reason.jpg');
    @include background-size(cover);
    padding: 80px 0;
    text-align: center;

    h2 {
      margin-bottom: 60px;
    }

    .item {
      display: inline-block;
      vertical-align: top;
      margin-right: 70px;
      margin-bottom: 70px;

      .img {
        margin-bottom: 20px;
      }

      &:nth-child(4), &:nth-child(7) {
        margin-right: 0;
      }
    }
  }

  .section-products {
    background: #f9f9f9;
    text-align: center;
    padding: 70px 0 30px;

    h2 {
      margin-bottom: 20px;
    }

    p {
      width: 820px;
      margin: 0 auto 35px;
    }

    .item {
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      background: #fff;
      padding: 20px;
      text-align: left;
      margin-bottom: 20px;
    }

    .text {
      display: inline-block;

      h3 {
        color: #464646;
        font-family: $bold;
        font-size: 18px;
        text-transform: uppercase;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 30px;

          &:before {
            @include pseudo-block($top: 50%, $left: 0);
            @include transform(translateY(-50%));
            @include oneline-sprite-box($icons, check);
          }
        }
      }

      .btn-wrapper.style-b a {
        padding: 9px 18px;
        margin-right: 10px;
      }

      .size-wrapper {
        margin-bottom: 20px;

        a {
          display: inline-block;
          background-image: linear-gradient(to top, #c4d7e6 0%, #d6e6f1 100%);
          font-size: 14px;
          padding: 4px 7px;
          width: 30px;
          text-align: center;
          color: #464646;
          text-decoration: none;
          @include border-radius(5px);
          border-bottom: 4px solid #97b3c9;

          &.active, &:hover {
            background-image: linear-gradient(to top, #0db3ce 0%, #49c7e7 100%);
            border-bottom: 4px solid #008caa;
            color: #fff;
          }
        }
      }

      .price {
        display: inline-block;
        vertical-align: middle;
        color: #b2b2b2;
        font-size: 18px;
        text-align: right;
        font-family: $medium;
        margin-right: 20px;

        span {
          display: block;
          line-height: 1;
          text-decoration: line-through;
        }

        .actual {
          color: #febf41;
          font-size: 30px;
          text-decoration: none;
        }
      }

      .btn-wrapper {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .show-all {
      text-align: center;
      margin-top: -100px;
      position: relative;

      z-index: 2;

      .btn-wrapper {
        display: inline-block;
      }
    }

    .product-items {
      position: relative;

      &:before {
        @include pseudo-block($left: 0, $right: 0, $bottom: 0);
        height: 220px;
        background-image: linear-gradient(to top, #fff 0%, #fff 40%, transparent 100%);
        z-index: 1;
      }
    }

    .slider-wrapper {
      width: 290px;
      display: inline-block;
      text-align: center;
      margin-right: 30px;
    }

    .b-call {
      padding: 40px;
      margin-top: 80px;

      h3 {
        line-height: 1;
      }

      ul {
        margin: 10px 0 0 0;
        padding: 0;
        width: 100%;
        display: table;

        li {
          color: #fff;
          font-size: 15px;
          font-family: $bold;
          display: table-cell;
          text-align: center;
          width: 9%;
        }
      }

      .left-part {
        display: inline-block;
        width: 430px;
        vertical-align: middle;
        margin-right: 15px;
      }

      .right-part {
        color: #fff;
        width: 200px;
        display: inline-block;
        vertical-align: middle;

        span {
          display: inline-block;
          margin-right: 5px;
        }
      }

      .scroll {
        display: block;
        margin-bottom: 25px;

        &:nth-child(3) {
          margin-bottom: 0;
        }
      }

      p {
        font-size: 14px;
        font-family: $regular;
        margin: 0 0 15px;
      }
    }
  }

  .section-advantages {
    background: image-url('bg/bg-3.jpg');
    padding: 80px 0 180px;
    text-align: center;
    position: relative;
    margin-bottom: 150px;

    .b-call {
      padding: 30px 310px 30px 25px;
      position: absolute;
      bottom: -280px;
      left: 0;
      right: 0;

      p {
        text-transform: uppercase;
        display: inline-block;
        font-size: 17px;
      }
    }

    h2 {
      margin-bottom: 80px;
    }

    .items {
      width: 800px;
      margin: 0 auto;
    }

    .item {
      width: 49%;
      display: inline-block;
      text-align: left;
      margin-bottom: 35px;

      .img {
        display: inline-block;
        width: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .section-form {
    padding: 40px 0;

    h2 {
      text-align: center;
      margin-bottom: 60px;
    }

    .text {
      overflow: hidden;
      font-size: 16px;
      width: 530px;

      h5 {
        font-size: 16px;
        font-family: $bold;
        text-transform: uppercase;
        margin: 0 0 15px;
      }

      span {
        display: block;
        color: #ae2121;
      }
    }

    .form-wrapper {
      float: right;
      width: 315px;
      padding: 20px 15px;
      @include background-image(linear-gradient(to top, #0db3ce 0%, #49c7e7 100%));
      @include border-radius(5px);
      box-shadow: inset 0 -5px 0 #008caa;

      h4 {
        color: #f8f8f8;
        font-size: 15px;
        font-family: $bold;
        line-height: 19px;
        margin: 0 0 17px;
        text-transform: uppercase;
      }
    }
  }

  .section-map {
    background: image-url('tmp/map.jpg');
    @include background-size(cover);

    .container {
      height: 540px;
    }

    .contact {
      width: 315px;
      background-image: linear-gradient(to top, #0db3ce 0%, #49c7e7 100%);
      border-radius: 5px;
      box-shadow: inset 0 -5px 0 #008caa;
      color: #fff;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 20px;
      @include transform(translateY(-50%));

      p {
        margin: 0 0 15px;
      }
    }
  }
}

@keyframes mouseanim {
  0% {
    @include transform(translate(-50%, -40%));
  }

  50% {
    @include transform(translate(-50%, -50%));
  }

  100% {
    @include transform(translate(-50%, -40%));
  }
}